<body class="body">
  <div class="container">
    <div class="row">
            <div class="card"style="text-align: center">
              <h1 class=" text-center">Agregar persona</h1>
            <div appearance="fill">
            </div>
            <div appearance="fill"style="text-align: center">
              <input matInput  placeholder="Nombre" formControlName="nombre">
            </div>
            <div appearance="fill"style="text-align: center">
              <input matInput placeholder="Apellodo" formControlName="apellido">
            </div>
            <div style="text-align: center">
              <button mat-raised-button  class="btn btn-info"
                type="submit">Guardar</button>
            </div>
          </div>
      </div>
    </div>
</body>
